// kolory
$primary-background-color:rgb(241, 250, 241);
$primary-header-color:rgb(144, 172, 115);
$primary-footer-color:rgb(163, 209, 210);
$primary-font-color:rgb(0, 0, 0);
$second-font-color:rgb(255, 255, 255);
$primary-nav-color:rgb(0, 0, 0);
$second-nav-color:rgb(62, 129, 62);
$third-nav-color:rgb(0, 100, 0);
$primary-hamburger-color:rgb(0, 0, 0);
$second-hamburger-color:rgb(255, 255, 255);
$primary-aside-color:rgb(0, 139, 139);
$comment-buttons-color:rgb(106, 90, 205);
$primary-comments-color:rgb(135, 206, 235);
$second-comments-color:rgb(250, 128, 114);
$error-color:rgb(255, 0, 0);
$visitors-color:rgb(244, 164, 96);
// czcionki
$primary-font:('Times New Roman', Times, serif);
$primary-font-size:1.5em;
// odstepy
$standard-padding: 20px;
$standard-margin: 20px;
// zapytania medialne
$breakpoints: (small:600px, medium: 1000px, large: 1600px);